<body class="operaciones-page">
    <div class="container">
        <div class="operacion">
            <h2>Suma (+)</h2>
            <p>La suma es una operación aritmética que consiste en combinar dos o más números para obtener su total.</p>
            <img src="./assets/images/Suma1.png" alt="Imagen de suma">
        </div>
        <div class="operacion">
            <h2>Resta (-)</h2>
            <p>La resta es una operación aritmética que consiste en quitar un número de otro para obtener la diferencia.
            </p>
            <img src="./assets/images/Resta.png" alt="Imagen de resta" width="200" height="200">
        </div>
        <div class="operacion">
            <h2>Multiplicación (×)</h2>
            <p>La multiplicación es una operación aritmética que consiste en repetir una suma de un número un
                determinado número de veces.</p>
            <img src="./assets/images/Multiplicacion.png" alt="Imagen de multiplicación" width="200" height="200">
        </div>
        <div class="operacion">
            <h2>División (÷)</h2>
            <p>La división es una operación aritmética que consiste en repartir una cantidad en partes iguales o
                determinadas por un divisor.</p>
            <img src="./assets/images/Division.png" alt="Imagen de Division" width="200" height="200">
        </div>
    </div>
    <footer>Programacion y Plataformas Web P64</footer>
</body>

