<div class="container">
    <div class="calculator">
        <div class="display">
            <div class="upperSection">{{ usTxt }}</div>
            <div class="lowerSection">{{ lsTxt }}</div>
        </div>
        <button class="col-2 cBtn button" id="c" (click)="clearDisplay()">C</button>
        <button class="numberBtn button" id="del" (click)="deleteChar()">&larr;</button>
        <button class="operatorBtn button" (click)="clickEvt((oKeys[3]))">/</button>
        <button class="numberBtn button" (click)="clickEvt((keys[7]))">7</button>
        <button class="numberBtn button" (click)="clickEvt((keys[8]))">8</button>
        <button class="numberBtn button" (click)="clickEvt((keys[9]))">9</button>
        <button class="operatorBtn button" (click)="clickEvt((oKeys[2]))">*</button>
        <button class="numberBtn button" (click)="clickEvt((keys[4]))">4</button>
        <button class="numberBtn button" (click)="clickEvt((keys[5]))">5</button>
        <button class="numberBtn button" (click)="clickEvt((keys[6]))">6</button>
        <button class="operatorBtn button" (click)="clickEvt((oKeys[1]))">-</button>
        <button class="numberBtn button" (click)="clickEvt((keys[1]))">1</button>
        <button class="numberBtn button" (click)="clickEvt((keys[2]))">2</button>
        <button class="numberBtn button" (click)="clickEvt((keys[3]))">3</button>
        <button class="operatorBtn button" (click)="clickEvt((oKeys[0]))">+</button>
        <button class="col-2 button numberBtn" (click)="clickEvt((keys[0]))">0</button>
        <button class="numberBtn button" (click)="clickEvt((keys[10]))">.</button>
        <button class="operatorBtn button" id="eq" (click)="calculate((lsTxt))">=</button>
    </div>
</div>
<footer>Programacion y Plataformas Web P64</footer>